<p>
  <b>Name:</b>
  <%= @corporation.name %>
</p>

<p>
  <b>Eve ID:</b>
  <%= @corporation.eve_id %>
</p>

<%= link_to 'Back', corporations_path %> | 
<%= link_to 'Edit', edit_corporation_path(@corporation) %> | 
<%= link_to 'Destroy', @corporation, method: :delete, data: { confirm: 'Are you sure?' } %>
