<div id="corporations-show">
  <b>Name:</b>
  <div id="corporation-name"><%= @corporation.name %></div>
  <b>Alliance:</b>
  <div id="corporation-alliance-name">Loading...</div>
  <b>Ticker:</b>
  <div id="corporation-ticker">Loading...</div>
  <b>Member Count:</b>
  <div id="corporation-membercount">Loading...</div>
  <b>CEO Name:</b>
  <div id="corporation-ceoname">Loading...</div>
  <b>Eve ID:</b>
  <div id="corporation-eveid"><%= @corporation.eve_id %></div>

  <% if @corporation.control_towers %>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Control Towers</th>
      </tr>
      
      <% for tower in @corporation.control_towers %>
        <tr>
          <td><%= link_to "#{tower.moon_name}", control_tower_path(tower) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= link_to 'Back', corporations_path %> | 
  <%= link_to 'Edit', edit_corporation_path(@corporation) %> | 
  <%= link_to 'Destroy', @corporation, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
