<%= form_for @scouting_report, :url => scouting_reports_path, :as => :scouting_report do |f| %>
  <% if @scouting_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scouting_report.errors.count, "error") %> prohibited this scouting_report from being saved:</h2>

      <ul>
      <% @scouting_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :solar_system_name, :autocomplete => :off, :placeholder => "solar system name", :data => { :provide =>"typeahead" } %>
  </div>
  
  <%= f.label :raw_dscan_data, "Directional Scan Results" %>
  <%= f.text_area :raw_dscan_data, :placeholder => "direction scan results", :size => "5x10" %>
  <%= f.label :raw_probe_data, "Probe Scan Results" %>
  <%= f.text_area :raw_probe_data, :placeholder => "probe scan results", :size => "5x10" %>
  
  <%= f.hidden_field :solar_system_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit "Analyze Report" %>
  </div>
<% end %>
