<%= form_for(@scouting_report) do |f| %>
  <% if @scouting_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scouting_report.errors.count, "error") %> prohibited this scouting_report from being saved:</h2>

      <ul>
      <% @scouting_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :star_name, :autocomplete => :off, :placeholder => "solar system name", :data => { :provide =>"typeahead" } %>
  </div>
  
  <%= f.hidden_field :star_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
