<h1>Scouting Report Draft</h1>

<p>
  <b>Submitter:</b>
  <%= @scouting_report.user.pilot_name %>
</p>

<p>
  <b>Solar System:</b>
  <%= @scouting_report.solar_system_name %>
</p>

<h3>Control Towers</h3>
<ul>
  <% for tower in @scouting_report.control_towers %>
    <li>Type: <%= tower.control_tower_type_name %><br />Moon: <%= tower.moon_name %></li>
  <% end %>
</ul>

<%= link_to 'Publish', publish_scouting_report_path(@scouting_report) %> |
<%= link_to 'Destroy', @scouting_report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', scouting_reports_path %>
