<h1>Scouting Report Draft</h1>

<p>
  <b>Submitter:</b>
  <%= @scouting_report.user.pilot_name %>
</p>

<p>
  <b>Solar System:</b>
  <%= @scouting_report.solar_system_name %>
</p>

<h3>Control Towers</h3>
<table class="table">
  <tr>
    <th>Moon</th>
    <th>Tower Type</th>
    <th>Owner ID</th>
    <th></th>
  </tr>
<% for tower in @scouting_report.control_towers %>
  <%= form_for(tower, remote: true) do |f| %>
  <tr>
    <td><%= tower.moon_name %></td>
    <td><%= tower.control_tower_type_name %></td>
    <td><%= f.number_field :corporation_id %></td>
    <td><%= f.submit %></td>
  </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Publish', publish_scouting_report_path(@scouting_report) %> |
<%= link_to 'Destroy', @scouting_report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', scouting_reports_path %>
