<div class="row">
  <div class="span9">
    <h2>Reporting Index</h2>
    <div class="row">
      <div class="span6">
        <h4>Draft Reports</h4>
        <table class="table">
          <tr>
            <th>Submitter</th>
            <th>Solar System</th>
            <th></th>
          </tr>

        <% unless @draft_reports.empty? %>
          <% @draft_reports.each do |report| %>
            <tr>
              <td><%= report.user.pilot_name %></td>
              <td><%= report.solar_system_name %></td>
              <td>
                <%= link_to 'Edit', draft_scouting_report_path(report), :class => "btn" %>
                <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">No unpublished reports available</td>
          </tr>
        <% end %>
        </table>
      </div>
      
      <div class="span3">
        <h4>Recent Reports</h4>
        
        <% unless @published_reports.empty? %>
          <ul>
            <% @published_reports.each do |report| %>
              <li>
                <%= report.user.pilot_name %> :: <%= report.solar_system_name %>
                <%= link_to 'Show', report %>
              </li>
            <% end %>
          </ul>
        <% else %>
          No reports have been submitted recently.<br />
          <%= link_to 'Create a new report', new_scouting_report_path, :class => "btn" %>
        <% end %>
        
        <h4>Report Queue</h4>
        <% unless @published_reports.empty? %>
          <ul>
            <% @queued_reports.each do |report| %>
              <li>System:<%= report.solar_system_name %> (ID:<%= report.job_id %>)
                <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          No reports in the queue
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New Report', new_scouting_report_path, :class => "btn btn-primary" %>
