<div class="row">
  <div class="span6">
    Your Queued Reports:
    <ul>
    <% @queued_reports.each do |report| %>
      <li>System:<%= report.solar_system_name %> (ID:<%= report.job_id %>)</li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>Published Reports</h2>
    <table class="table">
      <tr>
        <th>Submitter</th>
        <th>Solar System</th>
        <th></th>
      </tr>

    <% @published_reports.each do |report| %>
      <tr>
        <td><%= report.user.pilot_name %></td>
        <td><%= report.solar_system_name %></td>
        <td>
          <%= link_to 'Show', report, :class => "btn" %>
          <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  
  <% unless @draft_reports.empty? %>
    <div class="span6">
      <h2>Draft Reports</h2>
      <table class="table">
        <tr>
          <th>Submitter</th>
          <th>Solar System</th>
          <th></th>
        </tr>

      <% @draft_reports.each do |report| %>
        <tr>
          <td><%= report.user.pilot_name %></td>
          <td><%= report.solar_system_name %></td>
          <td>
            <%= link_to 'Edit', draft_scouting_report_path(report), :class => "btn" %>
            <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  <% end %>
</div>

<%= link_to 'New Report', new_scouting_report_path, :class => "btn btn-primary" %>
