<h1>Listing Scouting Reports</h1>

<table class="table table-condensed table-striped">
  <tr>
    <th>Submitter</th>
    <th>Solar System</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scouting_reports.each do |scouting_report| %>
  <tr>
    <td><%= scouting_report.user.pilot_name %></td>
    <td><b><%= scouting_report.solar_system_name %></b> (ID:<%= scouting_report.solar_system_id %>)</td>
    <td><%= link_to 'Show', scouting_report %></td>
    <td><%= link_to 'Edit', edit_scouting_report_path(scouting_report) %></td>
    <td><%= link_to 'Destroy', scouting_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_scouting_report_path %>
