<p id="notice"><%= notice %></p>

<p>
  <b>Submitter:</b>
  <%= @scouting_report.user.pilot_name %>
</p>

<p>
  <b>Solar System:</b>
  <%= @scouting_report.solar_system_name %> (ID:<%= @scouting_report.solar_system_id %>)
</p>


<%= link_to 'Edit', edit_scouting_report_path(@scouting_report) %> |
<%= link_to 'Back', scouting_reports_path %>
