<p id="notice"><%= notice %></p>

<p>
  <b>Submitter:</b>
  <%= @scouting_report.user.pilot_name %>
</p>

<p>
  <b>Solar System:</b>
  <%= @scouting_report.solar_system_name %>
</p>

<h3>Control Towers</h3>
<table class="table">
  <tr>
    <th>Moon</th>
    <th>Tower Type</th>
    <th>Owner ID</th>
  </tr>
<% for tower in @scouting_report.control_towers %>
  <tr>
    <td><%= tower.moon_name %></td>
    <td><%= tower.control_tower_type_name %></td>
    <td><%= tower.corporation_id %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back', scouting_reports_path, :class => "btn btn-primary" %>
