<h1>Admin::Dashboard#applications</h1>
<p>Find me in app/views/admin/dashboard/applications.html.erb</p>

<p>Unverified Users</p>
<ul>
<% for user in @users %>
  <li>
    <%= user.pilot_name %>
    
    <%= form_tag({:controller => "dashboard", :action => "accept_application"}, :method => "post") do %>
      <%= select_tag(:role_id, options_for_select(Admin::Role.all.map { |r| [r.name, r.id] })) %>
      
      <%= hidden_field_tag(:user_id, user.id) %>
      <%= submit_tag("Apply") %>
    <% end %>
  </li>
<% end %>
</ul>
