<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @star.name %>
</p>

<p>
  <b>Security:</b>
  <%= @star.security %>
</p>

<p>
  <b>Gate count:</b>
  <%= @star.gate_count %>
</p>


<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>
