<h1>Listing scouting_control_towers</h1>

<table>
  <tr>
    <th>Region</th>
    <th>Constellation</th>
    <th>Solar system</th>
    <th>Moon</th>
    <th>Control tower type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scouting_control_towers.each do |scouting_control_tower| %>
  <tr>
    <td><%= scouting_control_tower.region_id %></td>
    <td><%= scouting_control_tower.constellation_id %></td>
    <td><%= scouting_control_tower.solar_system_id %></td>
    <td><%= scouting_control_tower.moon_id %></td>
    <td><%= scouting_control_tower.control_tower_type_id %></td>
    <td><%= link_to 'Show', scouting_control_tower %></td>
    <td><%= link_to 'Edit', edit_scouting_control_tower_path(scouting_control_tower) %></td>
    <td><%= link_to 'Destroy', scouting_control_tower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Control tower', new_scouting_control_tower_path %>
