<h1>Listing Control Towers</h1>

<table id="controltowers" class="table">
  <tr>
    <th>Owner Corp</th>
    <th>Owner Alliance</th>
    <th>Moon</th>
    <th>Control tower type</th>
    <th>Solar system</th>
    <th>Constellation</th>
    <th>Region</th>
  </tr>

<% @scouting_control_towers.each do |control_tower| %>
  <tr class="controltower">
    <td class="controltower-corp-name"><%= link_to "#{control_tower.corporation_id}", corporation_path(control_tower.corporation_id) %></td>
    <td class="controltower-alliance-name">Loading...</td>
    <td><%= control_tower.moon_name %></td>
    <td><%= link_to "#{control_tower.control_tower_type_name}", control_tower %></td>
    <td><%= control_tower.solar_system_id %></td>
    <td><%= control_tower.constellation_id %></td>
    <td><%= control_tower.region_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Control tower', new_scouting_control_tower_path %>
