<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= @scouting_control_tower.region_id %>
</p>

<p>
  <b>Constellation:</b>
  <%= @scouting_control_tower.constellation_id %>
</p>

<p>
  <b>Solar system:</b>
  <%= @scouting_control_tower.solar_system_id %>
</p>

<p>
  <b>Moon:</b>
  <%= @scouting_control_tower.moon_name %>
</p>

<p>
  <b>Control tower type:</b>
  <%= @scouting_control_tower.control_tower_type_name %>
</p>

<p>
  <b>Owner:</b>
  <%= @scouting_control_tower.corporation_id %>
</p>

<%= link_to 'Edit', edit_scouting_control_tower_path(@scouting_control_tower) %> |
<%= link_to 'Back', scouting_control_towers_path %>
