<p>
  <b>Moon:</b>
  <%= @scouting_control_tower.moon_name %>
</p>

<p>
  <b>Control tower type:</b>
  <%= @scouting_control_tower.control_tower_type_name %>
</p>

<p>
  <b>Owner Corporation:</b>
  <%= @scouting_control_tower.corporation_id %>
</p>

<p>
  <b>Owner Alliance:</b>
  Loading...
</p>

<p>
  <b>Structures:</b>
  <%= @scouting_control_tower.structures %>
</p>

<%= link_to 'Back', scouting_control_towers_path %> | <%= link_to 'Edit', edit_scouting_control_tower_path(@scouting_control_tower) %> | <%= link_to 'Destroy', @scouting_control_tower, method: :delete, data: { confirm: 'Are you sure?' } %>
