<h1>Listing Reinforcement Timers</h1>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Expires at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reinforcement_timers.each do |reinforcement_timer| %>
  <tr>
    <td><%= reinforcement_timer.expires_at %></td>
    <td><%= link_to 'Show', reinforcement_timer %></td>
    <td><%= link_to 'Edit', edit_reinforcement_timer_path(reinforcement_timer) %></td>
    <td><%= link_to 'Destroy', reinforcement_timer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reinforcement timer', new_reinforcement_timer_path %>
