<h1>Listing Reinforcement Timers</h1>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th></th>
    <th>Expires (UTC)</th>
    <th>Expires (Local)</th>
    <th>Corporation</th>
    <th>Moon Name</th>
  </tr>

<% @reinforcement_timers.each do |reinforcement_timer| %>
  <tr class="<%= 'error' if reinforcement_timer.expired? %>">
    <td><%= link_to 'Show', reinforcement_timer %></td>
    <td><%= reinforcement_timer.expires_at %></td>
    <td><%= reinforcement_timer.expires_at.localtime %></td>
    <td><%= reinforcement_timer.control_tower.corporation.name %></td>
    <td><%= reinforcement_timer.control_tower.moon_name %></td>
  </tr>
<% end %>
</table>

<%= paginate @reinforcement_timers %>
