<b>Reinforcement Timer For:</b><br/>
<b>Moon: </b><%= @reinforcement_timer.control_tower.moon_name %><br />
<b>Corp: </b><%= @reinforcement_timer.control_tower.corporation.name %>

<p>
  <b>Expires at:</b>
  <%= @reinforcement_timer.expires_at %>
</p>

Countdown: <%= @reinforcement_timer.countdown %>

<br />
<br />
<%= link_to 'Back', reinforcement_timers_path %> | 
<%= link_to 'Edit', edit_reinforcement_timer_path(@reinforcement_timer) %> | 
<%= link_to 'Destroy', @reinforcement_timer, method: :delete, data: { confirm: 'Are you sure?' } %>
