<h1>Listing Roles</h1>

<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_roles.each do |admin_role| %>
  <tr>
    <td><%= admin_role.name %></td>
    <td><%= link_to 'Show', admin_role %></td>
    <td><%= link_to 'Edit', edit_admin_role_path(admin_role) %></td>
    <td><%= link_to 'Destroy', admin_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_admin_role_path %>
