<%= link_to "Brave Pos Tracker", root_path, :class => 'brand' %>
<ul class="nav">  
  <% if can? :manage, Scouting::Report %>
    <li><%= link_to('Scouting', scouting_reports_path) %></li>
  <% end %>
  
  <% if can? :manage, Scouting::ControlTower %>
    <li><%= link_to('Control Towers', scouting_control_towers_path) %></li>
  <% end %>
  
  <% if can? :manage, User %>
    <li><%= link_to('Pilot Applications', admin_dashboard_applications_path) %></li>
  <% end %>
  
  <% if can? :manage, Admin::Role %>
    <li><%= link_to('Roles', admin_roles_path) %></li>
  <% end %>

  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
